.textInput::placeholder {
    color: #999999;
}
.textInput {
    width: 335px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 15px;
    font-family: AppleSDGothicNeo;
    font-size: 16px;
    letter-spacing: -0.4px;
    border-color: #e0e0e1;
}

.textInput.different {
    border-color: #ff0d12;
}
.x {
    width: 12px;
    height: 12px;
    object-fit: contain;
    position: absolute;
    left: 291px;
    top: 9px;
    cursor: pointer;
    cursor: pointer;
}

.eyeInText {
    width: 17px;
    height: 12px;
    object-fit: contain;
    position: absolute;
    left: 318px;
    top:9px;
    cursor: pointer;
}

.container {
    position: absolute;
    top: 370px;
    left: 20px;
}

.error {
    position: relative;
    font-family: AppleSDGothicNeo;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.33px;
    color: #ff0d12;
    text-align: left;
}