.textInput::placeholder {
    color: #999999;
}
.textInput {
    width: 335px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 15px;
    font-family: AppleSDGothicNeo;
    font-size: 16px;
    letter-spacing: -0.4px;
    border-color: #e0e0e1;
}

.eyeInText {
    width: 17px;
    height: 12px;
    object-fit: contain;
    position: absolute;
    left: 318px;
    bottom: 17px;

}

.container {
    position: absolute;
    top: 370px;
    left: 20px;
}